  /*
        /* Tạo một phần tử div để chứa màn hình loading */
        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;
            background-color:#195fd7 ;
          }
          
          /* Tạo hiệu ứng cho màn hình loading */
          .loading::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
            border-radius: 50%;
            border: 2px solid #ccc;
            border-top-color: #333;
            animation: spin 0.6s linear infinite;
          }
          
          /* Hiệu ứng xoay tròn */
          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }
          