<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../responsive.css">
    <script src="../app.js"></script>
    <script src="https://kit.fontawesome.com/493cf92c43.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a href="" class='logo'>VANDUC</a>
        <input type="checkbox" name="" id="check">
        <label for="check"class='icons'>
            <i class="fa-solid fa-bars" style="color: #ffffff;" id="menu-icon"></i>
            <i class="fa-solid fa-xmark" style="color: #ffffff;" id="close-icon"></i>
        </label>
        <nav class="navbar">
            <a href="/index.html" style="--i:0;">About</a>
            <a href='/pages/project.html' style="--i:1;">Project</a>
            <a href="" style="--i:2;">Works</a>
            <a href="" style="--i:3;">Payments</a>
            <a href="" style="--i:4;">Contact</a>
        </nav>
    </div>
</body>
</html>


