<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../responsive.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="../app.js"></script>
    <script src="https://kit.fontawesome.com/493cf92c43.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>

</head>
<body>
    
    <div class="header">
        <a href="index.html" class='logo'>VANDUC</a>
        <input type="checkbox" name="" id="check">
        <label for="check"class='icons'>
            <i class="fa-solid fa-bars" style="color: #000;" id="menu-icon"></i>
            <i class="fa-solid fa-xmark" style="color: #000;" id="close-icon"></i>
        </label>
        
        <nav class="navbar">
            <!--<label>label for="languageSelector"></label>
        <select id="languageSelector" class="languageSelector">
            <option value="en">English</option>
            <option value="vi">Tiếng Việt</option>
            
        </select>-->
            <a class="languageSelector" id="languageSelector" value="en">
                <label for="languageSelector"></label>
                <i class="fa-solid fa-language fa-xl" style="color: #000;"></i>
            </a>
            <a href="index.html" style="--i:0;" data-translate="navAbout">About</a>
            <a href='project.html' style="--i:1;" data-translate="navProject">Project</a>
            <a href="" style="--i:2;" data-translate="navWorks">Works</a>
            <a href="" style="--i:3;" data-translate="navPayments">Payments</a>
            
        </nav>
        <div class="modal selectlang">
            <div class="selectlang-modal">
                <div class="modal-header">
                    Choose Language
                    
                </div>
                <div class="selectlang-close">
                    <i class="close ti-close fa-solid fa-xmark"></i>
                  </div>
                <div class="modal-container">
                    <p class='langs' value="en">English</p>
                    <p class='langs' value="vi">Tiếng Việt</p>
                    <p class='langs' value="jp">Japanese</p>
                    <p class='langs' value="kr">Korean</p>
                    <p class='langs' value="thl">Thailand</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


