@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-nav-color {
    background-color: #51a3a3;
}
.logo {
    text-decoration: none;
    font-weight: 900;
}
.nav-a {
    color: rgb(0,212,255);
}
.login {
    background-color: aquamarine;
}
/* Sections Css */
.sections {

    position: relative;
}

.head-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.sections-setup {
    margin-top: 100px;

    padding: 30px 30px 20px 30px;

}
.sections-setup img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sections-h1 {
    margin-top: 10px;
    font-size: 35px;
}
.sections-pharagraph {
    margin-top: 20px;
    display: inline-block;
    background-color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    line-height: 2;
}
.p-pc-tablet {
    margin-top: 20px;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Roboto&display=swap');
.header-content {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}
.header-content span {
    padding: 8px;
    background-image: linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);
    -webkit-background-clip: text; /* Safari */
    background-clip: text;
    color: transparent; /* Ẩn màu văn bản ban đầu */
    
}
.effect-header-content {
	color: #18272F;
  position: relative;
  text-decoration: none;
}

.effect-header-content::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 4px;
  border-radius: 4px;
  background: hsla(333, 100%, 53%, 1);

background: linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ff0f7b", endColorstr="#f89b29", GradientType=1 );
  bottom: 0;

  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.effect-header-content:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header-subcontent {
    font-size: 20px;
    color: grey;
    text-align: center;
}
.gen-work {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-top: 30px;
}
.prompt-data {
    width: 100%;
}
.prompt-data input{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
.textarea-container {
    position: relative;
    color: #fff;

}
.textarea-container textarea::placeholder {
    color: #000;

}
.prompt-input {
    border: 2px #00AAC3 solid;
    height: 80px;
    resize: none; /* Không cho phép thay đổi kích thước tự do */
    min-height: 30px; /* Chiều cao tối thiểu của textarea */
    max-height: 200px; /* Chiều cao tối đa của textarea */
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #000;
}
.a{color: #E7484F}
.b{color: #F68B1D}
.c{color: #FCED00}
.d{color: #009E4F}
.e{color: #00AAC3}
.f{color:  #732982}
.color-input {
    background: hsla(138, 82%, 69%, 1);

    background: linear-gradient(135deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(138, 82%, 69%, 1) 0%, hsla(186, 100%, 50%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6ef195", endColorstr="#00e3fd", GradientType=1 );
}
.color-button {
    background: hsla(175, 79%, 63%, 1);

    background: linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57ebde", endColorstr="#aefb2a", GradientType=1 );
}
.send-prompt {
    border: none;
    background: hsla(175, 79%, 63%, 1);

    background: linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57ebde", endColorstr="#aefb2a", GradientType=1 );
    border-radius: 10px;
    height: 30px;

}
.send-prompt:hover {
    opacity: 0.8;
    
}
.type_gallery {
    display: flex; /* Hiển thị các phần tử con trong cùng một hàng */
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.page-bar {
    margin-top: 20px;

}
.rainbow-5:hover{
    background-image:     linear-gradient(

       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #732982 100%
     );
   animation:slidebg 10s;
 }
 @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
.options {
    position: absolute;
    z-index: 1;
    margin: 5px 5px 0 0;
    right: 0;
    top: 0;
    background-color: #00AAC3;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Register */



/* Responesive */
@media (max-width:768px) {
    .sections {
        margin: 0 20px 0 20px;
    }
    .sections-setup {
        padding: 20px 20px 20px 20px;
    }
    .sections-setup img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .p-mobile {
        margin-top: 10px;
    }
    .sections-h1 {
        margin: 0;
        margin-top: 10px;
        font-size: 25px;
    }
    .sections-pharagraph {
        font-size: 14px;
        padding: 5px 10px;
    }
    .effect-header-content::before {
        width: 250px;
    }
    .header-content {
        font-size: 25px;
        font-weight: 900;
    }
    .header-subcontent {
        font-size: 15px;
    }
    .infor-container {
        margin: 0 20px 0 20px;
        height: 100%;
        width: 500px;

    }

}    
/* Password Check */
.password-register:focus ~ .password-checklist{
    display: block;

}
.password-checklist{
    margin-top: 10px;
    width: 100%;
    padding: 8px 16px;
    background: hsla(175, 79%, 63%, 1);

background: linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(175, 79%, 63%, 1) 0%, hsla(82, 96%, 57%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#57ebde", endColorstr="#aefb2a", GradientType=1 );
    border-radius: 5px;
    pointer-events: none;
    transition: .5s ease;
    display: none;
}
.checklist {
    list-style: none;
}
.checklist-item{
    color: #000;
    font-size: 14px;
}
.checklist-item::before {
    content: '\f00d';
    font-family: FontAwesome;
    display: inline-block;
    margin: 8px 0;
    margin-left: -30px;
    width: 20px;
    font-size: 12px;
}
.checklist-item.checked {
    opacity: 0.5;
}
.checklist-item.checked::before{
    content: '\f00c';
}

/* Loading */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
